## ETL Project
* Data Source 2 - JSON
* Source :  News
* Website:  https://www.huffpost.com/

## Extract

In [1]:
# Import dependencies
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
# Read json file into pandas
file = "../Resources/News_Category_Dataset_v2.json"
df = pd.read_json(file, lines=True)
df

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26
...,...,...,...,...,...,...
200848,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28
200849,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28
200850,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...",,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28
200851,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28
200852,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28

## Transform

In [3]:
# substring to be searched 
sub ='SpaceX'
  
# creating and passsing series to new column 
df["Indexes"]= df["headline"].str.find(sub) 
  
# display 
df

,category,headline,authors,link,short_description,date,Indexes
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26,-1
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26,-1
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26,-1
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26,-1
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26,-1
...,...,...,...,...,...,...,...
200848,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28,-1
200849,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28,-1
200850,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...",,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28,-1
200851,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28,-1
200852,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28,-1

In [4]:
df['Indexes'].value_counts()

-1     200829
 0         17
 25         1
 23         1
 19         1
 13         1
 12         1
 11         1
 4          1
Name: Indexes, dtype: int64

In [5]:
df = df[df.Indexes != -1]
df

,category,headline,authors,link,short_description,date,Indexes
1958,SCIENCE,SpaceX Rocket Blasts Off Carrying NASA's New P...,"Joey Roullette, Reuters",https://www.huffingtonpost.com/entry/spacex-la...,The telescope is designed to detect worlds bey...,2018-04-19,0
3407,TECH,"Elon Musk Pulls Tesla, SpaceX Facebook Pages I...",Ryan Grenoble,https://www.huffingtonpost.com/entry/elon-musk...,He also deleted his personal profile.,2018-03-23,23
24864,SCIENCE,SpaceX Launches Its First Recycled Cargo Ship ...,Carla Herreria,https://www.huffingtonpost.com/entry/spacex-la...,The refurbished capsule brings us one step clo...,2017-06-04,0
30597,TECH,SpaceX Launches And Lands The First Recycled O...,Michael McLaughlin,https://www.huffingtonpost.com/entry/spacex-re...,"It's cool because with reusable rockets, space...",2017-03-30,0
33292,SCIENCE,SpaceX To Send Two Private Citizens Around The...,Chris D'Angelo,https://www.huffingtonpost.com/entry/spacex-mo...,Elon Musk just doesn't quit.,2017-02-27,0
33958,SCIENCE,SpaceX Launches Rocket From NASA Pad In Florid...,"Irene Klotz, Reuters",https://www.huffingtonpost.com/entry/spacex-la...,"The rocket, which launched at 9:39 a.m. EST, c...",2017-02-19,0
35082,BUSINESS,"Elon Musk's Tesla, SpaceX Join Companies Oppos...",Chris D'Angelo,https://www.huffingtonpost.com/entry/elon-musk...,"So far, there are 127.",2017-02-07,19
37237,SCIENCE,"SpaceX Launches First Rocket Since Explosion, ...",,https://www.huffingtonpost.com/entry/spacex-la...,Saturdayâ€™s flight begins to clear a logjam of ...,2017-01-14,0
42301,BUSINESS,SpaceX Executive Quits To Fight Trump As A Gra...,Ryan Grenoble,https://www.huffingtonpost.com/entry/spacex-ex...,"""The only reason to leave my dream job was to ...",2016-11-16,0
46155,SCIENCE,Elon Musk's SpaceX Has Company In The Race To ...,Chris D'Angelo,https://www.huffingtonpost.com/entry/boeing-ra...,"Gentlemen, start your engines.",2016-10-05,12
48309,SCIENCE,Elon Musk: SpaceX Launch Explosion Is 'Most Di...,"Irene Klotz, Reuters",https://www.huffingtonpost.com/entry/elon-musk...,A fireball consumed the rocket as it was being...,2016-09-10,11
49084,TECH,Explosion At SpaceX Launch Site At Cape Canave...,,https://www.huffingtonpost.com/entry/explosion...,The explosion took place during a test firing ...,2016-09-01,13
49092,SCIENCE,Watch A Video Of Today's SpaceX Falcon 9 Rocke...,Ryan Grenoble,https://www.huffingtonpost.com/entry/spacex-ro...,No one was injured in the blast.,2016-09-01,25
53134,SCIENCE,"SpaceX Rocket Lifts Off On Cargo Run, Then Suc...",,https://www.huffingtonpost.com/entry/spacex-ro...,Perched on top of the rocket was a Dragon caps...,2016-07-18,0
59484,SCIENCE,SpaceX Lands Reusable Falcon 9 Rocket (UPDATE),Nick Visser,https://www.huffingtonpost.com/entry/spacex-fa...,"Despite initial worries, the company has done ...",2016-05-06,0
61952,SCIENCE,SpaceX Nails Historic At-Sea Rocket Landing,Chris D'Angelo,https://www.huffingtonpost.com/entry/spacex-ca...,"""Fifth time's a charm!""",2016-04-08,0
64870,SCIENCE,SpaceX Rocket Crashes During Drone Ship Landin...,Chris D'Angelo,https://www.huffingtonpost.com/entry/spacex-ro...,On land: 1 for 1. At sea: 0 for 4.,2016-03-05,0
65635,SCIENCE,3rd SpaceX Rocket Launch Aborted,Chris D'Angelo,https://www.huffingtonpost.com/entry/spacex-fa...,"UPDATE, Feb. 28: SpaceX aborted the launch of ...",2016-02-25,4
69142,SCIENCE,SpaceX Rocket Botches Landing At Sea After Suc...,Chris D'Angelo,https://www.huffingtonpost.com/entry/spacex-ro...,One out of four isn't bad when you're trying t...,2016-01-17,0
87071,SCIENCE,SpaceX Rocket Explodes After Liftoff,Jacqueline Howard,https://www.huffingtonpost.com/entry/spacex-ca...,,2015-06-28,0
101770,BUSINESS,"SpaceX Rocket Launches Space Cargo, But Crash ...",,https://www.huffingtonpost.com/entry/spacex-ro...,,2015-01-10,0
137953,SCIENCE,SpaceX Rocket Launch Halted By Last-Second Glitch,"Reuters, Reuters",https://www.huffingtonpost.com/entry/last-seco...,SpaceX aims to put SES-8 into an elliptical or...,2013-11-29,0
163623,SCIENCE,SpaceX Dragon Capsule Cleared To Dock With ISS...,,https://www.huffingtonpost.com/entry/spacex-dr...,"Now, with all 18 Draco thrusters on the Dragon...",2013-03-03,0
190354,SCIENCE,SpaceX Launch Abort Traced To Faulty Rocket En...,,https://www.huffingtonpost.com/entry/spacex-la...,By: Clara Moskowitz Published: 05/19/2012 08:0...,2012-05-20,0

In [6]:
# Save df to csv file
df.to_csv('../Resources/News_Reports.csv', index=False)

In [ ]:
# Sort by date range
bins = [np.datetime64(date(2012,1,1)),np.datetime64(date(2013,1,1)),np.datetime64(date(2014,1,1)), np.datetime64(date(2015,1,1)), np.datetime64(date(2016,1,1)),np.datetime64(date(2017,1,1)),np.datetime64(date(2018,1,1)),np.datetime64(date(2019,1,1)),np.datetime64(date(2020,1,1))]
group_names = ['2012','2013','2014', '2015', '2016', '2017', '2018', '2019']
#df['date'] = pd.to_datetime(df['date'])
df['date'] = pd.to_datetime(df['date'])
df['categories'] = pd.cut(df['date'], bins, labels=group_names)
print(df)

In [8]:
df['category'].value_counts()

SCIENCE     18
BUSINESS     3
TECH         3
Name: category, dtype: int64

In [9]:
df.to_csv('News_Reports_only_SpaceX_wi.csv', index=False)

## Merge dataframes

In [ ]:
# #Open SpaceX_df
#spacex_file = "../Resources/SpaceX_info.csv"
#spacex_df = pd.read_csv(spacex_file)
#spacex_df

In [ ]:
#merged_df = pd.concat([df, spacex_df])
#merged_df

In [ ]:
# Save as sql
#merged_df.to_sql(name="SpaceX", con=engine)

In [ ]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
#conn = 'mongodb://localhost:27017'
#client = pymongo.MongoClient(conn)

# Declare the database
#db = client.spacex_db

# Declare the collection
#spacex = db.spacex_db

In [ ]:
# Insert the document into the database
# The database and collection, if they don't already exist, will be created at this point.
#spacex.insert_one(news)

## Load

### We chose MongoDB because it is a non-relational database.  The data we collected was non-relational.  This proves to be ideal for storing data that may be changed frequently.

In [47]:
# Import dependencies
import pymongo

In [48]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [51]:
# Declare the database
db = client.spacex_db

# Declare the collection
collection = db.news

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'spacex_db')

In [52]:
# Add dataframe to database (convert to dictionary)
data = db.collection.insert_many(df.to_dict("records"))
data